In [1]:
import pandas as pd

In [2]:
migration_csv = "nationalmigration_clean.csv"

In [3]:
migration_df= pd.read_csv(migration_csv)
migration_df.head()

      Date  National Net Migration
0  1946-03                   12738
1  1946-06                   21176
2  1946-09                   25078
3  1946-12                   12727
4  1947-03                    8009

In [ ]:
national_migration =[]